body {
  background-color: #261C15;
}
.header {
  background: #FF1654;
  text-align: center;
  color: #261C15;
  padding: 5px;
  font-size: 50px;
}

/* colours:
247BA0 Cerulean
70C1B3 Verdigris
B2DBBF Celadon
261C1F Licorice 
FF1654 Folly
*/
